
@{
    ViewBag.Title = "DashBoard";
}

<h2>DashBoard</h2>

<div class="container">
    <table class="table table-condensed">
        <tr>
            <td><a href="/Student/Students/" class="btn btn-success">Student List</a></td>
            <td><a href="/Student/AddStudent/" class="btn btn-danger">Add Student</a></td>
            <td><a href="/Student/Departments/" class="btn btn-danger">Department List</a></td>
        </tr>
    </table>
</div>